body {
  background : url('/public/images/parchment.jpg');
}

.hp-img-container {
  width: 40%;
  margin: 20px;
}

.hp-container {
  justify-content: space-evenly;
  display: flex;
  background: url("/public/images/parchment.jpg");
  height: 85vh;
}