body {
  background-color: #3f3f3f;
}

.container {
  margin: 50px auto;
  width: 90vw;
}

.img-container {
  margin: 50px auto;
  width: 75vw;
}

footer {
  background: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 25px;
  margin: 0;
  color: white;
}

p {
  margin: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.jumbotron {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.jumbotron p {
  padding: .4em
}

#vara-container {
  margin: auto 10px;
  width: 80vw;
}

.frame {
  width: 100%;
  background: transparent no-repeat center;
  background-size: cover;
}

